@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #FBFAF5;
    font-family: 'Varela Round', sans-serif;
}

header {
    height: 6rem;
    background-color: #161A30;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: initial;
}

header > h2 {
    color: #FBFAF5;
    font-size: 38px;
}

.content {
    display: flex;
    flex-direction: column;
    flex: auto;
    align-items: center;
}

.content > .announce-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.content > .btn-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

button {
    background-color: #B6BBC4;
    box-shadow: none;
    border: none;
    border-radius: 5px;
    width: 5rem;
    height: 2rem;
    font-size: 18px;
}

button:hover:enabled {
    background-color: #31304D;
    color: #FBFAF5;
}

.content > .card-container {
    flex: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
}

.content > .card-container > .card {
    background-color: #31304D;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20rem;
    height: 20rem;
}

.content > .card-container > .card > .player {
    margin-bottom: auto;
    flex: initial;
    color: #FBFAF5;
    font-size: 20px;
}

.content > .card-container > .card > .hand-container {
    flex: auto;
    background-color: #B6BBC4;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.content > .card-container > .card > .score {
    flex: initial;
    margin-top: auto;
    color: #FBFAF5;
    font-size: 18px;
}

footer {
    background-color: #F0ECE5;
    flex: initial;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}